.sectionText {
    height: 74px;
    margin-top: 15px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid #dfdfdf;
}

.sectionText h1 {
    font-size: 44px;
    font-weight: bold;
}

.sectionText h1:hover {
    color: #000;
    cursor: auto;
}

.sectionNav ul {
    display: flex;
    padding: 9px 0 7px;
    border-bottom: 1px solid #000;
}

.sectionNav ul li {
    font-size: 11px;
    padding: 0 8px;
    border-right: 1px solid #dfdfdf;
}

.sectionNav ul li:hover {
    text-decoration: underline;
    background-color: transparent;
}

.sectionNav ul li:first-child {
    padding-left: 0;
}

ul li:last-child {
    border-right: none;
}
