.cardContainer {
    display: flex;
    width: 830px;
    padding: 24px 0;
    margin-top: 20px;
    justify-content: space-between;
    border-top: 1px solid #d7d7d7;
}

.cardText {
    margin-right: 35px;
}
.cardText h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;    
}

.cardText p {
    font-size: 14px;
    line-height: 19.2px;
    letter-spacing: 0.16px;
    text-align: justify;
    color: #5a5a5a;
}

.cardImg {
    display: flex;
    flex-direction: column;
}

.cardImg img {
    width: 500px;
    height: 340px;
}

.cardImg small {
    font-size: 10px;
    color: #727272;
    padding: 5px 0;
}
