.blocoNoticias {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.verticalline {
    border-right: 1px solid #DFDFDF;
}

.horizontallLine {
    border-bottom: 1px solid #DFDFDF;
    margin: 20px 0 20px 20px;
}
